.consulta-weather {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  /* background-color: rgba(173, 216, 230, 0.804); */
}
.separador-weather {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather {
  flex-direction: row;
  height: 90%;
}
.separador-weather h1 {
  text-align: center;
  font-size: 2.6rem;
  color: rgb(192, 192, 192);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.separador-weather input {
  width: 70%;
  margin: 5% 0;
  background-color: #002029;
  border-radius: 50px;
  height: 50px;
  color: #ffa500;
  text-align: center;
  font-size: 1.6rem;
  border: solid rgb(0, 251, 255) 3px;
  box-shadow: 0 0 6px 1px rgb(0, 251, 255);
}
.separador-weather button {
  border-radius: 50px;
  padding: 10px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
  font-size: 1rem;
  color: black;
  border: 2px solid black;
}
.separador-weather button:hover {
  background-color: #002029;
  border-color: #ffa500;
  color: #ffa500;
}
.weather img {
  width: auto;
  margin: auto 0 auto 0;
  height: 80%;
  filter: drop-shadow(0 0 10px grey);
}
.container-datos-weather {
  width: 100%;
  height: 100%;
  display: grid;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20% 10%;
  box-shadow: 0 0 100px rgba(128, 128, 128, 0.217);
}
.dato-weather {
  flex: 1;
  display: flex;
  align-items: center;
}
.dato-weather:nth-child(1) {
  grid-column: 1/4;
}

.dato-weather span {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  color: rgb(205, 205, 205);
  font-size: 1rem;
  text-align: left;
  margin: auto;
}
.dato-weather strong {
  font-family: "Lilita One", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: orange;
  font-size: 1.6rem;
  margin: auto;
}
