.container-descripcion{
    width: 80%;
    height: 60vh;
    color: #EFF5FF;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container-descripcion span{
    font-size:3rem;
    font-weight: 700;
}
.container-descripcion p{
    font-size: 1.875rem;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container-descripcion p b{
    color: #3C83F6;
}
.iconos-span{
    height:70px;
   
}