.container-stack {
  margin: 12vh auto auto auto;
  width: 80%;
  min-height: 80vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-stack h2 {
  height: 25%;
  width: 100%;
  text-align: left;
}
.stack {
  padding: 20px;
  width: 90%;
  margin: auto;
  flex: 1;
  border-top: solid #165671 1px;
  border-bottom: solid #165671 1px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}
.item-stack {
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
  height: 100%;
  max-height: 100px;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  border: solid rgba(255, 255, 255, 0.226) 1px;
}
.item-stack figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-stack img {
  width: auto;
  height: 50px;
  opacity: 0;
}
.item-stack:hover {
  transform: translateY(-10px);
  transition: 0.2s;
  /* background-color: #1656719d; */
  background: radial-gradient(circle at top left, #13315c, transparent 50%),
    radial-gradient(circle at bottom right, #13315c, transparent 50%),
    radial-gradient(circle at top right, #00a7e1, transparent 50%),
    radial-gradient(circle at bottom left, #00a7e1, transparent 50%);
  background-color: #134074;
}

.item-stack:hover img {
  opacity: 1;
  transition: 0.5s;
}
.item-stack:hover figcaption {
  opacity: 0;
  transition: 0.4s;
}
@media (max-width: 1024px) {
  .stack {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .stack {
    grid-template-columns: repeat(3, 33%);
    margin: 0;
    padding: 20px 0;
    grid-gap: 2px;
  }
  .item-stack {
    height: 70px;
    font-size: smaller;
  }
  .container-stack span {
    font-size: 2rem;
  }
}
