.container-stack {
  margin: 12vh auto auto auto;
  width: 80%;
  min-height: 80vh;
  height: auto;
  display: flex;
  flex-direction: column;
  border: solid white 1px;
}
.container-stack span {
  height: 25%;
  width: 100%;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  text-align: left;
}
.stack {
  padding: 20px;
  width: 90%;
  margin: auto;
  flex: 1;
  border-top: solid #165671 1px;
  border-bottom: solid #165671 1px;
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}
.item-stack {
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-size: 1rem;
  height: 100%;
  max-height: 100px;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: inset 0 0 50px #ffffff24;
  border: solid rgba(255, 255, 255, 0.226) 1px;
}
.item-stack figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 10;
  color: white;
}
.item-stack img {
  width: auto;
  height: 80%;
  opacity: 0;
}
.item-stack:hover {
  transform: translateY(-10px);
  transition: 0.2s;
  background-color: #1656719d;
}

.item-stack:hover img {
  opacity: 1;
  transition: 0.5s;
}
.item-stack:hover figcaption {
  opacity: 0;
  transition: 0.4s;
}
