.container-pro {
  min-height: 74vh;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.titulo-pro {
  height: 86vh;
  width: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  color: rgb(219, 219, 219);
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  position: relative;
  box-shadow: inset 0 0 50vw 1px rgba(6, 152, 152, 0.175);
}
.titulo-pro span {
  position: absolute;
  top: 40%;
  margin: 0 5.8%;
}
.flecha-animada {
  position: absolute;
  bottom: 0;
  left: 33vh;
  color: rgb(131, 131, 131);
  width: 100px;
  height: 100px;
  animation: rebote 1s ease-in-out infinite;
}
.separador-secciones{
  margin: auto;
  height: 1px;
  width: 80%;
  border: none;
  background: radial-gradient(
    ellipse farthest-corner at 50% 50%,
    rgb(181, 177, 177),
    rgb(239, 239, 239),
    rgba(77, 77, 77, 0.701),
    rgba(48, 48, 70, 0.678)
  );
}
@keyframes rebote {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 0;
    color: white;
  }
  100% {
    bottom: 50px;
    color: rgb(131, 131, 131);
  }
}
@media (max-width:1323px) {
  .titulo-pro span{
    font-size: 2rem;
  }
}
@media (max-width:997px) {
  .titulo-pro span{
    text-align: left;
  }
}
@media (max-width:768px) {
  .flecha-animada{
    left: inherit;
    right: 15vw;
  }
}
@media (max-width:400px) {
  .flecha-animada{
    height: 50px;
    width: 50px;
  }
  .titulo-pro span{
    font-size: 1rem;
  }
}