.container-pro {
  min-height: 74vh;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.h2-habilidades {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  padding-left: 8vw;
  display: inline-block; /* Asegura que el pseudo-elemento no exceda el ancho del texto */
}

.h2-habilidades::after {
  content: "";
  position: absolute;
  left: 8vw; /* Ajusta según el padding-left del contenedor */
  right: 0;
  bottom: -3px; /* Ajusta según el text-underline-offset deseado */
  height: 2px; /* Grosor de la línea */
  background: radial-gradient(
    ellipse farthest-corner at 50% 50%,
    rgb(181, 177, 177),
    rgb(239, 239, 239),
    rgba(77, 77, 77, 0.701),
    rgba(48, 48, 70, 0.678)
  );
}
.titulo-pro {
  height: 86vh;
  width: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10vw;
}

.titulo-pro .flecha-animada {
  position: absolute;
  bottom: 0;
  left: 33vh;
  color: rgb(131, 131, 131);
  width: 100px;
  height: 100px;
  animation: rebote 1s ease-in-out infinite;
}
.titulo-pro h1 {
  font-weight: 300;
}
.separador-secciones {
  margin: auto;
  height: 1px;
  width: 80%;
  border: none;
  background: radial-gradient(
    ellipse farthest-corner at 50% 50%,
    rgb(181, 177, 177),
    rgb(239, 239, 239),
    rgba(77, 77, 77, 0.701),
    rgba(48, 48, 70, 0.678)
  );
}
@keyframes rebote {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 0;
    color: white;
  }
  100% {
    bottom: 50px;
    color: rgb(131, 131, 131);
  }
}
@media (max-width: 768px) {
  .titulo-pro {
    padding: 10vw;
    text-align: left;
  }
  .titulo-pro .flecha-animada {
    width: 50px;
    height: 50px;
    left: initial;
    right: 8vw;
  }
}
/* @media (max-width: 1323px) {
  .titulo-pro span {
    font-size: 2rem;
  }
  .separador-secciones {
    display: none;
  }
}
@media (max-width: 997px) {
  .titulo-pro span {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .flecha-animada {
    left: inherit;
    right: 15vw;
  }
}
@media (max-width: 400px) {
  .flecha-animada {
    height: 50px;
    width: 50px;
  }
} */
