.container-compos-reutilizables{
    width: 100%;
    min-width: 100%;
    height: 140vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 

}
.container-compos{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;  

}
.container-compos-reutilizables h1{
    font-size: 3rem;
    color: rgb(192, 192, 192);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border:solid 2px rgb(192, 192, 192);
    border-radius: 100px;
    padding: 2% 3%;
    margin: 0;
}