.compo {
  width: 100%;
  /* margin-top: auto; */
  height: 20%;
  display: flex;
  transition: transform 0.3s ease-out;
}
.compo:hover{
  scale: 1.04;
  transform: scale(1.1);
  cursor: pointer;
}
.nombre-compo {
  flex: 2;
  margin: 2% 0 2% 2%;
  display: flex;
  align-items: center;
  padding-left: 10%;
  font-family: "Poiret One", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2rem;
  border-radius: 5px;
  background-color: white;
}
.container-emoji {
  flex: 1;
  margin: 2% 2% 2% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
}
.container-emoji img {
  height: 80%;
  width: auto;
}
@media (max-width:1025px) {
  .nombre-compo{
      font-size: 1.5rem;
  }
}
@media (max-width:768px) {
  .nombre-compo{
    justify-content: center;
  }
}
@media (max-width:576px) {
  .nombre-compo{
      font-size: 1rem;
  }
}