.consulta-weather {
  width: 90%;
  height: 90%;
  display: flex;
}
.separador-weather {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather {
  flex-direction: row;
}
.separador-weather h1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(192, 192, 192);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.separador-weather input {
  width: 70%;
  background-color: #002029;
  border-radius: 50px;
  height: 30px;
  margin: auto;
  color: #FFA500;
  text-align: center;
  font-size: 1.6rem;
  border: solid grey 3px;
}
.separador-weather button {
  margin: auto;
  border-radius: 50px;
  padding: 10px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
  font-size: 1rem;
  color: black;
}
.weather img {
  flex: 1;
  margin: auto;
  width: 40%;
}
.container-datos-weather {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dato-weather {
  flex: 1;
  display: flex;
  align-items: center;
}
.dato-weather span {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  color: rgb(205, 205, 205);
  font-size: 1rem;
  text-align: left;
}
.dato-weather strong {
  font-family: "Lilita One", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: orange;
  font-size: 1.6rem;
  margin: auto;
}
