.dropdown-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dropdown-basic{
    width:max-content;
    font-size: 0.85rem;
    margin: 2%;
}
.dropdown-container:nth-child(1) button{
    background-color: purple;
    border: none;
    color: white;
}
@media (max-width:400px) {
    
}