.container-navbar-bs {
  width: 90%;
  padding: 0;
}
.barra-general{
  background-color: #eaeaea23;
  padding: 1%;
}
/* .barra-general {
  padding: 10px;
  box-shadow: inset 0 0 30px 1px rgba(38, 216, 38, 0.432);
}
.titulo-navbar {
  color: lime;
}
.btn-buscar {
  border-color: lime;
  color: rgb(0, 230, 0);
}
.me-2 {
  border-color: lime;
  color: aliceblue;
  background-color: rgba(255, 255, 255, 0.064);
}
.me-2::placeholder{
    color: white;
}
.barra-general .dropdown-menu{
    border: solid 2px lime;
    background-color: transparent;
    box-shadow: inset 0 0 30px 1px rgba(38, 216, 38, 0.432);

}
.barra-general .dropdown-item{
    color: white;
} */