.container-apis {
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-api {
  width: 90%;
  overflow: hidden;
}
.titulo-habilidad {
  border: solid 2px rgb(192, 192, 192);
  width: max-content;
  margin: 10vh auto 10vh auto;
  font-size: 4rem;
  color: rgb(192, 192, 192);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 100px;
  padding: 2% 3%;
}
.api-elemento {
  height: 90vh;
  width: 100%;
  margin: 10vh 0;
  box-sizing: border-box;
}

.api-elemento-titulo span {
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
  font-style: italic;
}
.fondo-noticias {
  height: 80vh;
  width: 100%;
}
@media (max-width: 1025px) {
  .container-apis {
    height: 200vh;
  }
  .info-api {
    height: auto;
    width: 95%;
  }
  .titulo-habilidad {
    margin: auto;
    font-size: 2rem;
  }
  .api-elemento {
    margin: 0;
    height: 85vh;
  }
}
@media (max-width: 500px) {
  .titulo-habilidad {
    font-size: 1rem;
  }
}
