.container-apis {
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-api {
  width: 90%;
  background-color: #002029;
  overflow: hidden;
}
.titulo-habilidad {
  border: solid 2px rgb(192, 192, 192);
  width: max-content;
  margin: 0 auto 10vh auto;
  font-size: 3rem;
  color: rgb(192, 192, 192);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 100px;
  padding: 2% 3%;
}
.api-elemento {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002029;
  border-top: solid rgba(220, 220, 220, 0.368) 1px;
  box-sizing: border-box;
}

.api-elemento-titulo span {
  color: rgb(255, 0, 0);
  font-size: 1.2rem;
  font-style: italic;
}
.fondo-noticias {
  padding: 0 0 40px 0;
  height: 100vh;
}
