.Hero {
  height: 74vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 12vh;
}
.foto-hero {
  border: solid #57d7d7 1px;
  min-height: 70%;
  height: auto;
  width: 25%;
  border-radius: 20px;
  box-shadow: 0 0 30px lightblue;
}
.Hero h1 {
  font-size: 4rem;
  font-weight: 400;
  animation: hero 1.2s ease-in-out forwards;
}
.Hero h2 {
  text-align: right;
  font-size: 2rem;
  font-weight: 100;
  opacity: 0;
  position: relative;
  animation: hero 1.2s ease-in-out 0.5s forwards;
}
.container-texto-hero {
  position: relative;
}
.container-descarga {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  float: right;
  margin-top: 20px;
}
.container-descarga button {
  background-color: #13315c;
  font-family: var(--fuente-montserrat);
}
.cv-descarga {
  color: white;
  min-width: max-content;
  border: solid #ffffff 2px;
  padding: 5px 15px;
  border-radius: 10px;
  font-family: "Sulphur Point", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  box-shadow: inset 0 0 70px #0b2545;

  /* box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.541); */
}
.cv-descarga:hover {
  box-shadow: inset 0 0 70px #e53935;
  /* box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.541); */
}
.container-quiensoy {
  height: auto;
  width: 100vw;
}
.logo-gith {
  min-height: 40px;
  width: auto;
  color: #ffffff !important;
}
.logo-gith:hover {
  filter: drop-shadow(0 0 4px rgb(153, 199, 246));
}
/* ANIMACIÓNES----------------------------------------------------------------- */
@keyframes hero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .container-texto-hero h1 {
    font-size: 2rem;
  }
  .container-texto-hero h2 {
    font-size: 1.2rem;
  }
  .foto-hero {
    width: auto;
    height: auto;
  }
  .container-descarga {
    float: inherit;
    width: 100%;
  }
}
@media (max-width: 630px) {
  .Hero {
    height: 84vh;
    flex-direction: column;
  }
  .container-texto-hero h2 {
    text-align: center;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}
