.consulta-pokemon {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
}
.separador-pokemon {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.separador-pokemon h1 {
  text-align: center;
  font-size: 2.6rem;
  color: rgb(192, 192, 192);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.separador-pokemon input {
  width: 70%;
  background-color: #011920;
  border-radius: 50px;
  height: 50px;
  border: solid #ffc107 3px;
  box-shadow: 0 0 6px 1px #ffc107;
  color: #ffc107;
  text-align: center;
  font-size: 1.6rem;
  margin: 5%;
}
.pokemon {
  flex-direction: row;
  height: 90%;
}
.pokemon img {
  height: auto;
  width: 40%;
}
.container-datos-pokemon {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dato-pokemon {
  flex: 1;
  display: flex;
  width: 70%;
  align-items: center;
}
.dato-pokemon:nth-child(2),
.dato-pokemon:nth-child(3) {
  margin-left: 30%;
}
.dato-pokemon span {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  color: rgb(216, 216, 216);
  font-size: 1rem;
}
.dato-pokemon strong {
  font-family: "Lilita One", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: orange;
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .consulta-pokemon {
    flex-direction: column;
  }
  .separador-pokemon h1 {
    font-size: 1.2rem;
  }
  .separador-pokemon input {
    width: 70%;
  }
  .separador-pokemon {
    width: 100%;
  }
  .pokemon {
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
  }
  .pokemon img {
    height: 100%;
    width: auto;
  }

  .dato-pokemon:nth-child(2),
  .dato-pokemon:nth-child(3) {
    margin-left: initial;
  }
  .dato-pokemon {
    width: 100%;
  }
  .dato-pokemon strong {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 540px) {
  .dato-pokemon span {
    font-size: 0.8rem;
  }
  .dato-pokemon strong {
    font-size: 1rem;
  }
  .pokemon img {
    width: initial;
    flex: 1;
    height: auto;
  }
  .separador-pokemon input {
    font-size: 1rem;
  }
}
