/* HEADER */
.App {
  box-sizing: border-box;
  height: 100vh;
  background-color: #002029;
}
header {
  height: 14vh;
  min-height: 76.8px;
  display: flex;
  flex-direction: column;
}
header nav {
  margin: 0 10%;
  height: 96%;
  box-sizing: border-box;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  height: 100%;
}
header nav ul li {
  height: 100%;
  flex: 1;
}
.navlink {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(214, 214, 214);
  font-family: "Sulphur Point", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.6rem;
  text-align: center;
}
.navlink:hover {
  background: linear-gradient(
    to bottom,
    rgba(128, 128, 128, 0.416) 0%,
    rgba(8, 64, 83, 0.384) 60%
  );
}
.navlink.active {
  background: linear-gradient(
    to bottom,
    rgba(165, 165, 165, 0.336) 0%,
    rgba(8, 64, 83, 0) 20%
  );
  box-sizing: border-box;
}

.container-hrs-header {
  height: 4%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.hr-header {
  width: 45%;
  margin: 0;
  background: radial-gradient(
    ellipse farthest-corner at 50% 50%,
    red,
    rgb(239, 239, 239),
    rgba(77, 77, 77, 0.701),
    rgba(48, 48, 70, 0.678)
  );
  border: none;
  height: 2px;
}
#LOGO {
  height: 16vh;
  width: auto;
  position: absolute;
  left: 50%;
  top: 14vh;
  transform: translate(-50%, -50%);
}
/* MAIN */
/* FOOTER */
footer {
  height: 12vh;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-areas:
    "hrs hrs"
    "mensaje rrss";
  grid-template-rows: 1% 99%;
  grid-template-columns: 1fr 1fr;
}
.container-hrs-footer {
  grid-area: hrs;
  display: flex;
  justify-content: space-around;
}
.container-frase-footer {
  grid-area: mensaje;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  color: rgb(216, 216, 216);
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.container-rrss {
  grid-area: rrss;
  display: flex;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}
.container-rrss a {
  margin: 3.6% 4%;
  height: 40px;
  width: 40px;
}
.logo-footer {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
}
.hr-footer {
  margin: 0;
  height: 1px;
  width: 30%;
  border: none;
  background: radial-gradient(
    ellipse farthest-corner at 50% 50%,
    rgb(181, 177, 177),
    rgb(239, 239, 239),
    rgba(77, 77, 77, 0.701),
    rgba(48, 48, 70, 0.678)
  );
}
