/* GENERAL */
#subir {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  display: none;
}
#subir:hover {
  border-color: rgb(99, 235, 231);
}
.flecha-svg {
  height: 100%;
  width: 100%;
  color: white;
}
#subir:hover .flecha-svg {
  transform: rotate(-45deg);
  color: rgb(99, 235, 231);
}

#subir:hover img {
  transform: rotate(-45deg);
}
.animacion-bienvenida-usuario {
  position: fixed;
  top: 10vh;
  right: -40vw;
  border: solid rgba(151, 151, 151, 0.352) 1px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 30vw;
  z-index: 200;
  background-color: #002029;
  overflow: hidden;
  height: 10vh;
  display: none;
  flex-direction: column;
  align-items: center;
  animation: toggle-usuario 6s ease-out 1 none;
}
@keyframes toggle-usuario {
  0% {
    right: -40vw;
  }
  20% {
    right: 0;
  }
  80% {
    right: 0;
  }
  100% {
    right: -40vw;
  }
}
.animacion-bienvenida-usuario h5 {
  color: grey;
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0;
}
.animacion-bienvenida-usuario span {
  flex: 1;
  width: max-content;
  max-width: 100%;
  color: lime;
  font-size: 1.5rem;
  font-family: monospace;
}
.animacion-bienvenida-usuario div {
  height: 10px;
  width: 10px;
  position: absolute;
  background-color: lime;
  left: 5%;
  top: 70%;
  border-radius: 10px;
  transform: translateY(-50%);
  animation: titilar linear 1s infinite;
}
@keyframes titilar {
  0% {
    background-color: white;
  }
  40% {
    background-color: lime;
  }
  100% {
    background-color: rgba(0, 255, 0, 0.105);
  }
}
/* HEADER */
.App {
  box-sizing: border-box;
  height: 100vh;
}
header {
  height: 14vh;
  min-height: 76.8px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #002029;
  z-index: 100;
}
.bg-body-tertiary {
  height: 96%;
  background-color: transparent !important;
  margin: 0 !important;
  width: 100vw;
  padding: 0;
}

.justify-content-end {
  height: 100%;
  padding: 0 !important;
}
.canvas-container {
  margin: 0 10%;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
#offcanvasNavbar {
  height: 100% !important;
}
.canvas-body{
  height: 100%;
}
.brand-logo {
  height: 16vh;
  width: auto;
  position: absolute;
  left: 50%;
  top: 14vh;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}

.navlink {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(214, 214, 214);
  font-family: "Sulphur Point", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.6rem;
  text-align: center;
}
.navlink:hover {
  background: linear-gradient(
    to bottom,
    rgba(128, 128, 128, 0.416) 0%,
    rgba(8, 64, 83, 0.384) 60%
  );
}
.navlink.active {
  background: linear-gradient(
    to bottom,
    rgba(165, 165, 165, 0.336) 0%,
    rgba(8, 64, 83, 0) 20%
  );
  box-sizing: border-box;
}

.container-hrs-header {
  height: 4%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.hr-header {
  width: 45%;
  margin: 0;
  background: radial-gradient(
    ellipse farthest-corner at 50% 50%,
    red,
    rgb(239, 239, 239),
    rgba(77, 77, 77, 0.701),
    rgba(48, 48, 70, 0.678)
  );
  border: none;
  height: 2px;
}
#LOGO {
  height: 100%;
  width: auto;
}
#LOGO:hover {
  filter: drop-shadow(0 0 1px rgb(153, 199, 246));
}
.usuario-activo {
  width: max-content;
  padding: 0 20px;
  height: 40px;
  position: absolute;
  right: 20%;
  bottom: -40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: lime;
  font-family: monospace;
  font-size: 1.4rem;
  border: solid lime 2px;
  border-radius: 50px;
  border-top: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #002029;
}
.usuario-activo img {
  height: 100%;
  width: auto;
}
/* MAIN */
/* FOOTER */
footer {
  height: 12vh;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  display: grid;
  grid-template-areas:
    "hrs hrs"
    "mensaje rrss";
  grid-template-rows: 1% 99%;
  grid-template-columns: 1fr 1fr;
  
}
.container-hrs-footer {
  grid-area: hrs;
  display: flex;
  justify-content: space-around;
}
.container-frase-footer {
  grid-area: mensaje;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  color: rgb(216, 216, 216);
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: vertical-text;
}
.container-rrss {
  grid-area: rrss;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
.container-rrss a {
  margin: 0 4%;
  height: 40%;
  width: 30px;
}
.logo-footer {
  position: absolute;
  height: 60px;
  width: auto;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
}
.hr-footer {
  margin: 0;
  height: 1px;
  width: 30%;
  border: none;
  background: radial-gradient(
    ellipse farthest-corner at 50% 50%,
    rgb(181, 177, 177),
    rgb(239, 239, 239),
    rgba(77, 77, 77, 0.701),
    rgba(48, 48, 70, 0.678)
  );
}
@media (max-width:1025px) {
  .container-frase-footer{
    font-size: 0.7rem;
  }
}
@media (max-width:940px) {
  footer{
    grid-template-areas:
    "hrs hrs"
    "rrss mensaje";
  }
  .container-frase-footer{
    display: none;
  }
 
  .usuario-activo{
    top: 4vh;
    transform: translateY(-50%);
    right: 1vw;
    border-radius: 50px;
    border:solid 1px lime;
    font-size: 1rem;
    height: 4vh;
  }
}