/* ESTILOS GENERALES (PARA TODA LA APP) */
* a {
  text-decoration: none;
}
/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');{/*AGREGAR: (font-family: "Major Mono Display", monospace; font-weight: 400; font-style: normal;)*/}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
