.container-bibliotecas {
  height: auto;
  width: max-content;
  margin: 10vh auto;
  display: flex;
}
.links-biblio {
  display: flex;
  border: solid white 1px;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
  overflow: hidden;
}
.links-biblio a {
  padding: 20px;
  border-bottom: 1px solid white;
}
.respuesta-link-biblio {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
