.container-formulario {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh 0;
}
.container-formulario .container-form-response {
  min-height: 65vh;
  height: auto;
  width: 320px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.089);
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  border: solid rgba(255, 255, 255, 0.151) 1px;
  overflow: hidden;
}

.container-formulario form {
  margin-right: 100px;
  text-align: center;
  max-width: 90vw !important;
}
.container-form-response h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 30px 0;
}

.container-form-response h4::after,
.container-form-response h4::before {
  background-color: white;
  content: "";
  height: 1px;
  width: 50%;
}
.container-form-response h4::before {
  margin-right: 10px;
}
.container-form-response h4::after {
  margin-left: 10px;
}
.container-formulario
  form
  input:not(.container-formulario form .container-radios label input),
.container-formulario form select {
  display: block;
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #eef4ed;
  color: var(--color-principal);
  font-weight: 300;
}
.container-radios label {
  margin-left: 10px;
}

.container-formulario form button {
  width: 100%;
  margin: 15px 0;
}
.container-formulario .flecha-forms {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.089);
  width: 60px;
  height: 50px;
  position: relative;
}
.container-formulario .respuesta {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 90vw;
}
.container-formulario .container-form-response ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container-formulario .container-form-response small {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: gray;
}
.trash-form {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.response-correo b {
  vertical-align: middle;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 70%;
  overflow: hidden;
}
/* RESPONSIVE*/
@media (max-width: 900px) {
  .container-formulario {
    flex-direction: column;
  }
  .container-formulario form {
    margin: 0 0 50px 0;
  }
}
