.container-formularios {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 2% 0;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "h1 h1"
    "form form";
  grid-template-columns: 1fr 1.6fr;
  grid-template-rows: 20% 80%;
}
.container-formularios .titulo-formularios {
  grid-area: h1;
  border: solid 2px rgb(192, 192, 192);
  width: max-content;
  margin: auto;
  font-size: 4rem;
  color: rgb(192, 192, 192);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 100px;
  padding: 2% 3%;
}
.container-formularios form {
  margin: auto;
  height: 80%;
  width: 70%;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  padding: 2%;
  box-sizing: border-box;
}
.formulario h1 {
  text-align: center;
  margin: 2%;
}
.container-formularios input:not(.grid-item-form-verde input),
.container-formularios textarea,
.container-formularios select {
  width: 80%;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem; 
  margin: auto;

}
.container-formularios label {
  font-size: 1rem;
  margin:1% 0;
  text-align: center;
  display: flex;
  min-width: 100%;
  width: max-content;
  align-items: center;
}
.error-yup{
  flex: 1;
  text-align: center;
  color: rgb(117, 10, 10);
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;}
.rosa {
  background-color: palevioletred;
}
.verde {
  background-color: rgb(1, 211, 134);
  width: 90%;
}
.grid-container-form-verde {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-areas:
    "compañia pais atencion"
    "numero correo atencion"
    "r1 r1 r1"
    "r2 r2 btn";
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(2, 30%) repeat(2, 1fr);
  grid-gap: 2%;
}
.grid-item-form-verde select {
  margin:auto;
  border: solid green 2px;
  border-radius: 5px;
  width: 85%;
  font-size: small;
  background-color: rgb(189, 255, 219);
}
.grid-item-form-verde {
  border: solid rgba(0, 128, 0, 0.488) 2px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  color: #013612;
}
.grid-item-form-verde:hover {
  background-color:  rgba(51, 154, 35, 0.792);
  scale: 1.009;
  color: white;
}
.grid-item-form-verde .label-titulo {
  margin: 5% auto; 
  width: 100%;
  padding-left: 4%;
}
.grid-item-form-verde .input-verde {
  margin: 0 auto;
  padding-left: 4%;
  font-size: 0.8rem;
  border: solid green 2px;
  border-radius: 5px;
  height: 30%;
  width: 85%;
  background-color: rgb(189, 255, 219); 
  cursor: pointer;
}

.grid-container-form-verde button {
  grid-area: btn;
  height: max-content;
  width: max-content;
  padding: 2% 3%;
  margin: auto;
  border: solid green 4px;
  border-radius: 5px;
  color: rgb(2, 96, 2);
  font-size: medium;
  font-family: inherit;
  background-color: rgb(207, 240, 205);
  cursor: pointer;
}
.grid-container-form-verde button:hover {
  background-color: green;
  color: white;
}
.compañia {
  grid-area: compañia;
}
.pais {
  grid-area: pais;
}
.numero {
  grid-area: numero;
}
.correo {
  grid-area: correo;
}
.atencion {
  grid-area: atencion;
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "o1 o2"
    "o3 o4";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 1fr 1fr ;
}
.atencion label{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8rem;

}
.atencion label input,
.atencion label {
  cursor: pointer;

}
.titulo-atencion {
  grid-area: titulo;
  text-align: center;
  text-transform: capitalize;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.reglamento1 {
  grid-area: r1;
}
.reglamento2 {
  grid-area: r2;
}

.rosa select {
  width: 90%;
}

.rosa input{
  height: 8%;
  margin: auto;
}
.rosa button {
  width: max-content;
  height: max-content;
  margin: 2% auto 0 auto;
  border: solid rgb(151, 0, 0) 4px;
  border-radius: 5px;
  color: rgb(151, 0, 0);
  background-color: rgb(255, 235, 235);
  font-size: medium;
  font-family: inherit;
  cursor: pointer;
}
.rosa button:hover {
  color: white;
  background-color: rgb(151, 0, 0);
}
.reglamento1,
.reglamento2 {
 display: flex;
 align-items: center;
 flex-direction: row;
 padding: 0 0 0 10px;
}
.reglamentos {
  font-size: 0.8rem !important;
  color: rgb(65, 65, 65);
  margin: 0 10px !important;
}
.pais select{
  height: 30%;
}
.input-numero{
  overflow-y: hidden;
}

.datos-form-rosa-listo{
  color: lime;
  width: 100%;
  text-align: right;
  padding-right: 20%;
  font-style: normal;
  display: none;
}
